.page-loading-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,8,20,1);
}
.page-loading-logo-content{
    width: 400px;
    height: 400px;
    animation: flash 2s infinite;
}
.page-loading-logo-content>img{
    width: 350px;
    height: 350px;
    margin: auto;
}
.page-loading-logo-content>h1{
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

/*Loading section styles*/
.loader {
    width: 60px;
    height: 60px;
   }
   
   .loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top: 2px solid #8900FF;
    border-right: 2px solid transparent;
    animation: spinner8217 0.8s linear infinite;
   }
   
   @keyframes spinner8217 {
    to {
     transform: rotate(360deg);
    }
   }